
[submodule "packages/osmosis-test-tube/osmosis"]
	path = packages/osmosis-test-tube/osmosis
	url = https://github.com/osmosis-labs/osmosis.git
	branch = main
[submodule "packages/injective-test-tube/injective-core"]
	path = packages/injective-test-tube/injective-core
	url = https://github.com/InjectiveLabs/injective-core.git
	branch = v1.10.0
[submodule "dependencies/injective-core"]
	path = dependencies/injective-core
	url = https://github.com/InjectiveLabs/injective-core.git
